@media(max-width: 760px){
    .sections .right{
        padding-right: 5rem;
    }


}

@media(max-width: 660px){
    .container{
        max-height: 950px;
        overflow: visible;
    }

    .sections{
        padding: 5rem 0;
        flex-direction: column;
        gap: 10rem;
    }

    .sections .left, .sections .right {
        height: auto;
    }

    .sections .right{
        padding-right: 0;
        text-align: center;
        width: 85%;
    }

    .background .back-left,
    .background .back-right {
        position: fixed; 

    }

    .background .back-left{
        
        transform: translateX(-35%) translateY(-30%);
    }

    .background .back-right{
        
        transform: translateX(35%) translateY(30%); 
    }
}
@media(max-width: 350px){
    .background .back-left{
        
        transform: translateX(-35%) translateY(-40%);
    }

    .background .back-right{
        
        transform: translateX(35%) translateY(40%); 
    }
}